.bi.bi-bell {
    font-size: 240px;
    color: green;
    margin: 20px;
}

.bi {
    font-size: 60px; 
}

.red {
    color: red;
    background-color: blue; /* Isso aqui é para o fundo que concide com a seta  */
}

.blue {
    color: blue;
}